# In Polish

CLEANING FRECNCH NOUNS FOUND ON pl.wiktionary.org

In [86]:
import pandas as pd 

df = pd.read_csv("Data/fr-pl4.csv")
df

                     noun                             gender lang
0            accoutumance          rzeczownik, rodzaj żeński   fr
1                accouple          rzeczownik, rodzaj żeński   fr
2         accompagnatrice          rzeczownik, rodzaj żeński   fr
3           accommodation          rzeczownik, rodzaj żeński   fr
4             accoucheuse          rzeczownik, rodzaj żeński   fr
...                   ...                                ...  ...
16553            fouillis           rzeczownik, rodzaj męski   fr
16554             fossile           rzeczownik, rodzaj męski   fr
16555            fragment           rzeczownik, rodzaj męski   fr
16556  football américain  fraza rzeczownikowa, rodzaj męski   fr
16557           Florentin           rzeczownik, rodzaj męski   fr

[16558 rows x 3 columns]

 filters out : nouns that begin with a capital letter, all caps, with a period ("."), and/or contains the Polish word for noun-phrase. Ultimately keeping only common nouns without abbreviations, acronyms, proper nouns nor topynoms

In [99]:
filtered_pl_df = df[~((df['gender'].str.contains('fraza', case=False, na=False)))& (df['gender'].str.contains('rzeczownik', case=False, na=False))]
filtered_pl_df = filtered_pl_df.reset_index(drop=True)
filtered_pl_df

                  noun                     gender lang
0         accoutumance  rzeczownik, rodzaj żeński   fr
1             accouple  rzeczownik, rodzaj żeński   fr
2      accompagnatrice  rzeczownik, rodzaj żeński   fr
3        accommodation  rzeczownik, rodzaj żeński   fr
4          accoucheuse  rzeczownik, rodzaj żeński   fr
...                ...                        ...  ...
14612           frelon   rzeczownik, rodzaj męski   fr
14613         fouillis   rzeczownik, rodzaj męski   fr
14614          fossile   rzeczownik, rodzaj męski   fr
14615         fragment   rzeczownik, rodzaj męski   fr
14616        Florentin   rzeczownik, rodzaj męski   fr

[14617 rows x 3 columns]

NB: 
- nazwa własna = proper noun
- rodzaj męski =  masculine gender
- rodzaj żeński = feminine gender
- rzeczownikowa = noun 
- fraza rzeczownikowa = noun phrase

In [100]:
# df of noun-phrases found
np_df = df[df['gender'].str.contains('fraza', case=False, na=False)]
np_df

,noun,gender,lang
15,acide désoxyribonucléique,"fraza rzeczownikowa, rodzaj męski",fr
17,acide citrique,"fraza rzeczownikowa, rodzaj męski",fr
18,acide butyrique,"fraza rzeczownikowa, rodzaj męski",fr
19,acide carboxylique,"fraza rzeczownikowa, rodzaj męski",fr
20,acide butanoïque,"fraza rzeczownikowa, rodzaj męski",fr
...,...,...,...
16533,gel à raser,"fraza rzeczownikowa, rodzaj męski",fr
16535,gardien de but,"fraza rzeczownikowa, rodzaj męski",fr
16545,Frioul-Vénétie julienne,"fraza rzeczownikowa, rodzaj męski, nazwa własna",fr
16552,four à micro-ondes,"fraza rzeczownikowa, rodzaj męski",fr
16556,football américain,"fraza rzeczownikowa, rodzaj męski",fr

standardize genders

In [101]:
# filtered_pl_df.loc[filtered_pl_df['gender'].str.contains('rodzaj męski', case=False, na=False), 'gender'] = 'm'
# filtered_pl_df.loc[filtered_pl_df['gender'].str.contains('rodzaj żeński', case=False, na=False), 'gender'] = 'f'
# filtered_pl_df

# French in German

In [43]:
de_df = pd.read_csv("Data/fr-de4.csv")
de_df

            noun gender lang
0          agace      f   fr
1          after      m   fr
2       affinité      f   fr
3     affliction      f   fr
4          agape      f   fr
...          ...    ...  ...
5935   aboiement      m   fr
5936       abord      m   fr
5937     abalone      m   fr
5938   abat-voix      m   fr
5939         abc      m   fr

[5940 rows x 3 columns]

removes acronyms, abbreviations, topynoms and proper nouns

In [102]:
# filtered_de_df = de_df[~(
#                    (de_df['noun'].str[0].str.isupper()) |
#                    (de_df['noun'].str.isupper()) |
#                    (de_df['noun'].str.contains('\.', na=False)))]
# filtered_de_df = filtered_de_df.reset_index(drop=True)
# filtered_de_df

### In Spanish

In [46]:
es_df = pd.read_csv("Data/fr-es5.csv")
es_df

                noun                           gender lang
0      anthropotomie              Sustantivo_femenino   fr
1     anthropophagie              Sustantivo_femenino   fr
2           anguille              Sustantivo_femenino   fr
3          animation              Sustantivo_femenino   fr
4      anthropophage  Sustantivo_femenino_y_masculino   fr
...              ...                              ...  ...
3277         abeille              Sustantivo_femenino   fr
3278      abnégation              Sustantivo_femenino   fr
3279       abolition              Sustantivo_femenino   fr
3280         abajoue              Sustantivo_femenino   fr
3281         abaisse              Sustantivo_femenino   fr

[3282 rows x 3 columns]

In [103]:
# es_df.loc[es_df['gender'].str.contains('Sustantivo_femenino_y_masculino', case=False, na=False), 'gender'] = 'm,f'
# es_df.loc[es_df['gender'].str.contains('masculino', case=False, na=False), 'gender'] = 'm'
# es_df.loc[es_df['gender'].str.contains('femenino', case=False, na=False), 'gender'] = 'f'
# es_df

removes acronyms, abbreviations, topynoms and proper nouns

In [104]:
# filtered_es_df = es_df[~(
#                    (es_df['noun'].str[0].str.isupper()) |
#                    (es_df['noun'].str.isupper()) |
#                    (es_df['noun'].str.contains('\.', na=False)))]
# filtered_es_df = filtered_es_df.reset_index(drop=True)
# filtered_es_df

### IN French

In [55]:
fr_df = pd.read_csv("Data/fr-fr3.csv")
fr_df

           noun                                gender lang
0          ankh  masculin ou féminin (l’usage hésite)   fr
1    anémochore  masculin ou féminin (l’usage hésite)   fr
2       andrène  masculin ou féminin (l’usage hésite)   fr
3          ânkh  masculin ou féminin (l’usage hésite)   fr
4        ananké  masculin ou féminin (l’usage hésite)   fr
..          ...                                   ...  ...
886     bordure                               féminin   fr
887      barbac                              masculin   fr
888      aplome                              masculin   fr
889   astéroïde                              masculin   fr
890         adi                               féminin   fr

[891 rows x 3 columns]

In [105]:
# fr_df.loc[fr_df['gender'].str.contains('masculin ou féminin', case=False, na=False), 'gender'] = 'm,f'
# fr_df.loc[fr_df['gender'].str.contains('masculin', case=False, na=False), 'gender'] = 'm'
# fr_df.loc[fr_df['gender'].str.contains('féminin', case=False, na=False), 'gender'] = 'f'
# fr_df

In [106]:
# filtered_fr_df = fr_df[~(
#                    (fr_df['noun'].str[0].str.isupper()) |
#                    (fr_df['noun'].str.isupper()) |
#                    (fr_df['noun'].str.contains('\.', na=False)))]
# filtered_fr_df = filtered_fr_df.reset_index(drop=True)
# filtered_fr_df

## In English

In [67]:
en_df = pd.read_csv("Data/fr-en2.csv")
en_df

                 noun        gender lang
0        abandonneuse             f   fr
1           abatteuse             f   fr
2             abaisse             f   fr
3              abasie             f   fr
4      abandonnataire  f,by sense,m   fr
...               ...           ...  ...
19994      abstinence             f   fr
19995      absolution             f   fr
19996      absorption             f   fr
19997         absence             f   fr
19998             404             f   fr

[19999 rows x 3 columns]

In [110]:
# en_df['gender'] = en_df['gender'].str.replace('f,by sense,m', 'f,m')
# en_df

In [109]:
# filtered_en_df = en_df[~(
#                    (en_df['noun'].str[0].str.isupper()) |
#                    (en_df['noun'].str.isupper()) |
#                    (en_df['noun'].str.contains('\.', na=False)))]
# filtered_en_df = filtered_en_df.reset_index(drop=True)
# filtered_en_df

## CONCATENATE

In [112]:
df_concatenated = pd.concat([fr_df, en_df, es_df, de_df, filtered_pl_df], axis=0, ignore_index=True)
df_concatenated

             noun                    gender lang
0            ankh                       m,f   fr
1      anémochore                       m,f   fr
2         andrène                       m,f   fr
3            ânkh                       m,f   fr
4          ananké                       m,f   fr
...           ...                       ...  ...
44724      frelon  rzeczownik, rodzaj męski   fr
44725    fouillis  rzeczownik, rodzaj męski   fr
44726     fossile  rzeczownik, rodzaj męski   fr
44727    fragment  rzeczownik, rodzaj męski   fr
44728   Florentin  rzeczownik, rodzaj męski   fr

[44729 rows x 3 columns]

In [113]:
# PL
df_concatenated.loc[df_concatenated['gender'].str.contains('rodzaj męski', case=False, na=False), 'gender'] = 'm'
df_concatenated.loc[df_concatenated['gender'].str.contains('rodzaj żeński', case=False, na=False), 'gender'] = 'f'
# ES
df_concatenated.loc[df_concatenated['gender'].str.contains('Sustantivo_femenino_y_masculino', case=False, na=False), 'gender'] = 'm,f'
df_concatenated.loc[df_concatenated['gender'].str.contains('masculino', case=False, na=False), 'gender'] = 'm'
df_concatenated.loc[df_concatenated['gender'].str.contains('femenino', case=False, na=False), 'gender'] = 'f'
# FR
df_concatenated.loc[df_concatenated['gender'].str.contains('masculin ou féminin', case=False, na=False), 'gender'] = 'm,f'
df_concatenated.loc[df_concatenated['gender'].str.contains('masculin', case=False, na=False), 'gender'] = 'm'
df_concatenated.loc[df_concatenated['gender'].str.contains('féminin', case=False, na=False), 'gender'] = 'f'
# EN
df_concatenated.loc[df_concatenated['gender'].str.contains('f,by sense,m', case=False, na=False), 'gender'] = 'f,m'

df_concatenated

             noun gender lang
0            ankh    m,f   fr
1      anémochore    m,f   fr
2         andrène    m,f   fr
3            ânkh    m,f   fr
4          ananké    m,f   fr
...           ...    ...  ...
44724      frelon      m   fr
44725    fouillis      m   fr
44726     fossile      m   fr
44727    fragment      m   fr
44728   Florentin      m   fr

[44729 rows x 3 columns]

In [115]:
filtered_concat = df_concatenated[~(
                   (df_concatenated['noun'].str[0].str.isupper()) |
                   (df_concatenated['noun'].str.isupper()) |
                   (df_concatenated['noun'].str.contains(" ")) |
                   (df_concatenated['noun'].str.contains('\.', na=False)))]
filtered_concat = filtered_concat.reset_index(drop=True)
filtered_concat

               noun gender lang
0              ankh    m,f   fr
1        anémochore    m,f   fr
2           andrène    m,f   fr
3              ânkh    m,f   fr
4            ananké    m,f   fr
...             ...    ...  ...
38347  frémissement      m   fr
38348        frelon      m   fr
38349      fouillis      m   fr
38350       fossile      m   fr
38351      fragment      m   fr

[38352 rows x 3 columns]

Duplicates by noun
- Ex: 
- topiaire	m	fr
- topiaire	f	fr

In [116]:
df_duplicates = filtered_concat[filtered_concat.duplicated(subset='noun', keep=False)]
df_duplicates

             noun gender lang
13       triskèle      m   fr
15       topiaire      m   fr
19     spermatide      m   fr
27          orque      m   fr
29         porter      m   fr
...           ...    ...  ...
38345        fric      m   fr
38346   futurisme      m   fr
38349    fouillis      m   fr
38350     fossile      m   fr
38351    fragment      m   fr

[18889 rows x 3 columns]

Duplicates by both noun and gender
- topiaire	m	fr
- topiaire	m	fr

In [117]:
df_duplicates_all_columns = filtered_concat[filtered_concat.duplicated(keep=False)]
df_duplicates_all_columns

            noun gender lang
13      triskèle      m   fr
27         orque      m   fr
29        porter      m   fr
39         major      m   fr
72        ambage      m   fr
...          ...    ...  ...
38345       fric      m   fr
38346  futurisme      m   fr
38349   fouillis      m   fr
38350    fossile      m   fr
38351   fragment      m   fr

[17673 rows x 3 columns]

In [118]:
df_no_duplicates = filtered_concat.drop_duplicates(keep='first').reset_index(drop=True)
df_no_duplicates

               noun gender lang
0              ankh    m,f   fr
1        anémochore    m,f   fr
2           andrène    m,f   fr
3              ânkh    m,f   fr
4            ananké    m,f   fr
...             ...    ...  ...
28166    généticien      m   fr
28167      gagaouze      m   fr
28168   fruitarisme      m   fr
28169  frémissement      m   fr
28170        frelon      m   fr

[28171 rows x 3 columns]

remove nouns with multiple genders

In [119]:

final = df_no_duplicates[df_no_duplicates['gender'].apply(len) == 1]
final

               noun gender lang
9          zéolithe      m   fr
10         wingsuit      m   fr
11         vaudaire      m   fr
12           zériba      m   fr
13         triskèle      m   fr
...             ...    ...  ...
28166    généticien      m   fr
28167      gagaouze      m   fr
28168   fruitarisme      m   fr
28169  frémissement      m   fr
28170        frelon      m   fr

[26177 rows x 3 columns]

multi gendered nouns, saved for later.

In [120]:
multi_final = df_no_duplicates[df_no_duplicates['gender'].apply(len) > 1]
multi_final

                   noun                     gender lang
0                  ankh                        m,f   fr
1            anémochore                        m,f   fr
2               andrène                        m,f   fr
3                  ânkh                        m,f   fr
4                ananké                        m,f   fr
...                 ...                        ...  ...
19467            antifa                        m,f   fr
19499        académiste                        m,f   fr
22733             teint                 rzeczownik   fr
25291  polycondensation  rzeczownik, rodzaj żeński   fr
26701        didactique                 rzeczownik   fr

[1994 rows x 3 columns]

looks at final df, if noun found in multi_final, we want to remove it

In [126]:
import pandas as pd

# Assuming df1 and df2 are your DataFrames
# Merge df1 with df2 based on 'noun'
merged_df = pd.merge(final, multi_final[['noun']], on='noun', how='left', indicator=True)

# Filter rows that are only in df1
df3 = merged_df[merged_df['_merge'] == 'left_only'].drop(columns=['_merge'])

# Display the result
df3

               noun gender lang
0          zéolithe      m   fr
1          wingsuit      m   fr
2          vaudaire      m   fr
3            zériba      m   fr
4          triskèle      m   fr
...             ...    ...  ...
26199    généticien      m   fr
26200      gagaouze      m   fr
26201   fruitarisme      m   fr
26202  frémissement      m   fr
26203        frelon      m   fr

[25649 rows x 3 columns]

In [127]:
df3.to_csv('french_nouns_wiktionary.csv')